body {
    background-color: rgb(255, 255, 255);
}

#esc-button {
    position: absolute;
    left: 20px;
    top: 400px;
    width: 60px;
    height: 40px;
    background-color: rgb(255, 127, 0);
}

#dropbtn {
    background-color: rgb(255, 127, 0);
    color: white;
    width: 100px;
    height: 40px;
}

#dropdown {
    position: absolute;
    left: 400px;
    top: 400px;
}

#dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.transfer-button {
    color: black;
    background-color: rgb(240, 240, 240);
    padding: 12px 16px;
    width: 100px;
    border: none;
    text-decoration: none;
    display: block;
}

.transfer-button:hover {
    background-color: rgb(200, 200, 200)
}

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown:hover .dropbtn {
    background-color: rgb(220, 110, 0);
}

#game-div {
    width: 600px;
    height: 800px;
}

#wrapper>* {
    display: inline-block;
    vertical-align: top;
}

#options-div {
    margin-top: 80px;
}

.hand {
    position: absolute;
}

#play-again {
    background-color: rgb(0, 176, 0);
    padding: 10px;
    border: solid black;
    position: absolute;
    top: 750px;
    left: 220px;
}

#depth-slider,
#depth-slider-label {
    vertical-align: middle;
}